<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Аренда Отелей</title>
    <link rel="stylesheet" href="../static/styles/index.css" />
  </head>
  <body>
    <header class="header">
      <nav class="navbar">
        <div class="nav-links">
          <a href="#">ДОМА</a>
          <a href="#">О НАС</a>
          <a href="#">УСЛУГИ</a>
        </div>
      </nav>
      <div class="hero">
        <h1>НАЙТИ ОТЕЛИ</h1>
        <form class="search-form">
            <input type="text" id="city" name="city" placeholder="город">

            <div>
              <label for="checkin" class="form-label">Дата заезда</label>
              <input type="date" id="checkin" name="checkin">
            </div>
          
            <div>
              <label for="checkout" class="form-label">Дата выезда</label>
              <input type="date" id="checkout" name="checkout">
            </div>
          
            <button type="submit">ПОИСК</button>
        </form>
      </div>
    </header>
    <main class="main">
      <aside class="sorting">
        <h2>СОРТИРОВКА</h2>
        <select name="sort" id="sort-options">
          <option value="price-asc">По цене: от низкой к высокой</option>
          <option value="price-desc">По цене: от высокой к низкой</option>
          <option value="rating-asc">По рейтингу: от низкого к высокому</option>
          <option value="rating-desc">
            По рейтингу: от высокого к низкого
          </option>
        </select>
      </aside>

      <section class="popular">
        <h2>ПОПУЛЯРНЫЕ ОТЕЛИ</h2>
        <div class="cards" id="hotel-cards">
          {% for hotel_card in list_hotel_cards %}
            <a href="{{ url_for('hotel_menu', hotel_id=hotel_card['id']) }}" class="card-link">
              <div class="card">
                <img src={{ hotel_card["image"] }} alt={{ hotel_card["alternative"] }} />
                <h3>{{ hotel_card["main_text"] }}</h3>
                <p>{{ hotel_card["city"] }}</p>
                <p class="price">€{{ hotel_card["price"] }}</p>
                <p class="rating">★ {{ hotel_card["rating"] }}</p>
              </div>
            </a>
          {% endfor %}
        </div>
      </section>
    </main>
    <script></script>
  </body>
</html>
