<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Аренда Отелей</title>
    <link rel="stylesheet" href="../static/styles/index.css" />
  </head>
  <body>
    <header class="header">
      <nav class="navbar">
        <div class="nav-links">
          <a href="#">ДОМА</a>
          <a href="#">О НАС</a>
          <a href="#">УСЛУГИ</a>
        </div>
      </nav>
      <div class="hero">
        <h1>НАЙТИ ОТЕЛИ</h1>
        <form class="search-form">
            <input type="text" id="city" name="city" placeholder="город">

            <div>
              <label for="checkin" class="form-label">Дата заезда</label>
              <input type="date" id="checkin" name="checkin">
            </div>
          
            <div>
              <label for="checkout" class="form-label">Дата выезда</label>
              <input type="date" id="checkout" name="checkout">
            </div>
          
            <button type="submit">ПОИСК</button>
        </form>
      </div>
    </header>
    <main class="main">
      <aside class="sorting">
        <h2>СОРТИРОВКА</h2>
        <select name="sort" id="sort-options">
          <option value="price-asc">По цене: от низкой к высокой</option>
          <option value="price-desc">По цене: от высокой к низкой</option>
          <option value="rating-asc">По рейтингу: от низкого к высокому</option>
          <option value="rating-desc">
            По рейтингу: от высокого к низкого
          </option>
        </select>
      </aside>

      <section class="popular">
        <h2>ПОПУЛЯРНЫЕ ОТЕЛИ</h2>
        <div class="cards" id="hotel-cards">
          <div class="card">
            <img src="" alt="Бутик-отель" />
            <h3>Бутик-отель</h3>
            <p>Санкт-Петербург</p>
            <p class="price">€90</p>
            <p class="rating">★ 4.7</p>
          </div>
          <div class="card">
            <img src="" alt="Мне лень-писать название" />
            <h3>Мега крутой отель</h3>
            <p>Санкт-Петербург</p>
            <p class="price">€60</p>
            <p class="rating">★ 4.5</p>
          </div>
        </div>
      </section>
    </main>
    <script></script>
  </body>
</html>
