<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>Результаты поиска</title>
    <link
      rel="stylesheet"
      href="../static/styles/search.css"
    />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="nav-links">
          <a href="/">Главная</a>
          <a href="#">О НАС</a>
          <a href="#">УСЛУГИ</a>
          <a href="/logout">ВЫХОД</a>
        </div>
      </nav>
    </header>

    <section class="search-header">
      <h1>НАЙДЕННЫЕ ОТЕЛИ</h1>
      <p>Город: <strong>{{ city }}</strong></p>
    </section>

    <div class="search-container">
      <aside class="sidebar">
        <h3>СОРТИРОВКА</h3>
        <select name="sort" id="sort">
          <option value="price-asc">По цене: от низкой к высокой</option>
          <option value="price-desc">По цене: от высокой к низкой</option>
          <option value="rating-desc">По рейтингу</option>
        </select>
      </aside>

      <main class="results">
        {% if hotel_cards %}
          {% for hotel_card in hotel_cards %}
          <div class="hotel-card">
            <img src={{ hotel_card["image"] }} alt={{ hotel_card["alternative"] }} />
            <h3>{{ hotel_card["title"] }}</h3>
            <p>{{ hotel_card["city"] }}</p>
            <p class="price">€{{ hotel_card["price"] }}</p>
            <p class="rating">★ {{ hotel_card["rating"] }}</p>
          </div>
          {% endfor %}
        {% else %}
          <p class="no-results">Нет отелей по этому запросу.</p>
        {% endif %}
      </main>
    </div>
  </body>
</html>
